<h1>Welcome <%= session[:user_id] ? User.find_by(id: session[:user_id]).username : "you lovely person!" %></h1>
<%= link_to "Login", '/login', method: :get %>
<%= link_to "Sign Up", '/users/new', method: :get %>
<%= link_to "Logout", '/logout', method: :post %>