<h1 style="text-align: center; margin-top:2rem;"><%= @user.username %></h1>
<h2 style="text-align: center; margin-top:2rem;">About me: <%= @user.about_me %></h2>

<h1 style="text-align: center; margin-top:2rem;"><%= link_to "CHECK MY CARDS", user_cards_url(@user) %></h1>
