<div>
    <form action="create" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <label for="password_confirmation">Confirm your password:</label>
        <input type="password" name="password_confirmation">
    </form>
</div>