<h1>Welcome to 100DaysOfCode</h1>

<% @days.each do |day| %>

    <% day.cards.each do |card| %>
        <h3>This is your card</h3>
        <p><%= link_to "My tutorial", card.youtube_link %></p>
        <p><%= link_to "My challenge", card.codewars_link %></p>
        <p><%= link_to "My Article", card.article_link %></p>
        <p>Question of the day: "<%= card.question %>"</p>
    <% end %>
<% end %>