// Place all the styles related to the Days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h3 {
    text-align: center;
}
.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    .card {
        width: 50%;
        margin: 1rem auto;
        border: 5px solid rgb(37, 68, 104);
        background-color: rgba(170, 201, 236, 0.288);
        p {
            text-align: center;
        };
    }
}