// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #576CA8;
    font-family: 'Muli', sans-serif;
    color: #F5F3F5;
}
a {
    color: rgb(215, 218, 253);
    text-decoration: none;
}
nav {
    width: 100vw;
    height: 3rem;
    background-color: #3b3535;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.158);
    
    ul {
        display: flex;
        justify-content: space-around;
        width: inherit;
        height: inherit;
        align-items: center;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                color: #d9d7ca;
                font-weight: 400;
            }
        }
    }

}

.hero {
    width: 100vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/1181675/pexels-photo-1181675.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    h1 {
        padding:2rem;
        text-align: center;
        color: rgb(250, 250, 250);
        background-color: #274690d2;
        width: 100%;
    }
}

.smallHero {
    margin-top: 150px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 1rem;
        background-color: #302B27;
        transition: padding .2s;
        &:hover {
            background-color: #1B264F;
            padding: 0.7rem 1rem;
            color: #F5F3F5;
        }
    } 
    
}


.error {
    background-color: red;
    color: white;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 1rem auto;
    padding: 1rem;
    width: 250px;
}